@media (max-width: 340px){
    .search-input{
        font-size: small;
       
        margin-left: 0;
    }
    .search-box{
        padding-right: 0;
        
    }
    .search-button{
        margin-left: 9px;
    }
}
@media(max-width:376px){
    .search-input{
        font-size: small;
       
        
    }
   
    
}